html {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #fcc7c3 0%, #8ec5fc 100%);
}

* {
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    margin-top: -200px;
    padding: 10px;
    display: flex;
    background-color: rgb(159, 247, 247);
}

.logo{
    height: 30px;
    margin-left: -15px;
    margin-top: -10px;
}

.a{
    color: white;
}


.login{
    border: 1px solid black;
    padding: 4px 15px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    margin-left: 1170px;
    margin-top: -20px;
}

.login:hover {
    background-color: aqua;
}

.wrapper>.login>a {
    color: black;
    text-decoration: none;
}

.welcome {
    margin-left: -530px;
    margin-top: -400px;
}

.welcome1 {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.welcome2 {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.first {
    color: blue;
    padding-left: 10px;
}

.last {
    color: red;
}

.image1 {
    border: 2px solid red;
    border-radius: 12px;
    float: right;
    margin-top: -250px;
    margin-right: 35px;
}

.image1 img {
    border-radius: 10px;
}

.aboutus {
    font-family: 'Times New Roman', Times, serif;
}

.aboutus1 {
    font-size: 35px;
    margin-top: 350px;
    border: 2px solid red;
    margin-left: 545px;
    margin-right: 545px;
    padding: 5px;
    background-color: white;
}

.aboutus2 {
    margin-top: -2px;
    border: 2px solid red;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 30px;
    padding: 10px;
    background-color: white;
}

.card-contact {
    float: right;
    width: 32%;
    margin-top: 340px;
    margin-right: 80px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: white;
}

.container{
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.user{
    margin-top: 2px;
    margin-left: 105px;
}

.title{
    text-align: center;  
    font-size: 35px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 20px;
}

.content{
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.content p{
    margin-top: 10px;
    font-size: 20px;
}

.image2 {
    border: 2px solid red;
    border-radius: 12px;
    float: left;
    margin-left: 60px;
    margin-top: 390px;
}

.image2 img {
    border-radius: 10px;
}

footer{
    width: 100%;
    padding: 10px;
    margin-top: 900px;
    text-align: center;
    background-color: rgb(159, 247, 247);
    color: black;
    font-size: 13px solid;
}