html {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #fcc7c3 100%);
}

* {
    margin: 0;
    padding: 0;
}

header{
    width: 1280px;
    padding: 10px;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(159, 247, 247);
} 

.logo{
    height: 30px;
    margin-left: -5px;
    margin-top: 0px;
}

.login{
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 50px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    margin-left: 1135px;
    margin-top: -36px;
    margin-bottom: 10px;
    margin-right: 65px;
}

.login:hover {
    background-color: aqua;
}

.wrapper>.login>a {
    color: black;
    text-decoration: none;
}

.home{
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 50px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    margin-left: 1200px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.home:hover {
    background-color: aqua;
}

.wrapper>.home>a {
    color: black;
    text-decoration: none;
}

.card1 {
    float: right;
    width: 35%;
    margin-top: 29px;
    margin-right: 180px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: white;
}

.data {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.title{
    text-align: center;  
    font-size: 30px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 40px;
}

.content input {
    padding: 2px;
    padding-left: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 8px;
    width: 390px;
}

.daftar {
    border: 1px solid black;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    float: left;
    margin-left: 185px;
    margin-top: -100px;
    background-color: skyblue;
}

.card1>.daftar>a {
    text-decoration: none;
    color: black;
}

.daftar:hover {
    background-color: rgb(6, 244, 18);
}

.punyaakun {
    margin-top: 80px;
    margin-bottom: 25px;
    text-align: center;
}

.card2 {
    float: right;
    width: 35%;
    margin-top: -423px;
    margin-right: 650px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
}

.image {
    float: left;
    width: 200px;
    margin-top: 50px;
    margin-left: 110px;
    display: flex;
}

.image img {
    width: 230px;
    margin-bottom: 25px;
}

.first {
    font-size: 50px;
    text-align: center;
    display: flex;
    margin-bottom: 25px;
    margin-top: 210px;
    margin-left: 100px;
}

.last {
    font-size: 22px;
    text-align: center;
    margin-bottom: 57px;
}

footer{
    width: 1260px;
    padding: 10px;
    margin-top: 484px;
    text-align: center;
    background-color: rgb(159, 247, 247);
    color: black;
    font-size: 13px solid;
}